@model TextFile
<h2>Create New File</h2>

<form asp-action="Create" method="post">
    <label>File Name:</label>
    <input type="text" asp-for="FileName" required />
    <br />

    <label>Content:</label><br />
    <textarea asp-for="Content" rows="25" cols="200"></textarea>
    <br />

    <button type="submit">Save</button>
</form>
